name: Run all tests

on:
  push:
    branches:
      - main
      - ci

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
            sudo apt-get update
            sudo apt-get install -y libegl1

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest -m "not gui" tests